*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: radial-gradient(at 50% 0%, #1c4f73, #1c1f27);

    width: 320px;
    height: 540px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}
.titulo{
    text-align: center;
    width: 320px;
    margin-bottom: 60px;
}
.calculadora__bg{
    display: flex;
    justify-content: center;
    background-color: #262728;
    width: 320px;
    height: 340px;
    border-radius: 8px;
    position: relative;
}
.calculadora__bg__operacoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px 15px;
    padding: 20px;
    width: 320px;
}
.calculadora__bg__operacoes__btn{
    /* width: 64px; */
    height: 35px;
    border-radius: 8px;
    font-size: 24px;
    background-color: #303136;
    color: #29a8ff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
}
.calculadora__bg__operacoes__btn:hover{
box-shadow: 0px 0px 10px 5px #1c4f73;
}
.calculadora__bg__operacoes__select{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
    gap: 20px 20px;
}
.calculadora__bg__operacoes__select__item{
    border-radius: 4px;
    border: none;
    grid-column: 1 / 4;
    height: 35px;
    font-size: 22px;
    cursor: pointer;
}
.calculadora__bg__operacoes__select__historico{
    height: 35px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-color: #616161;
    padding: 5px;
    
}
.calculadora__bg__operacoes__select__historico:hover{
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px #1c4f73;

}
.calculadora__bg__operacoes__select__historico__list{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background: radial-gradient(at 50% 0%, #1c4f73, #1c1f27);
    opacity: 0.9;
    width: 240px;
    height: 340px;
    /* display: none; */
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: linear 0.3s;
    border-radius: 8px;
    
}
.calculadora__bg__operacoes__select__historico__list.open{
    opacity: 1;
    visibility: visible;
}
.calculadora__bg__operacoes__select__historico__list__secao{
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px ;
    font-size: 16px;
}
.calculadora__bg__operacoes__select__historico__list__secao li{
    cursor: default;
    margin: 5px 0;
}
.calculadora__bg__operacoes__select__historico__list__secao li:hover{
    box-shadow: 0px 0px 10px 5px #1c4f73;
}
.calculadora__bg__operacoes__btn:nth-child(3){
    grid-column: 2 / 4;
    
}
.calculadora__bg__operacoes__btn:last-child{
    grid-column: 3 / -1;
    
}
.calculadora__resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 60px;
    font-size: 24px;
    color: #fff;
}
.calculadora__registrar{
    width: 276px;
    display: flex;
    justify-content: space-between;
}
.calculadora__registrar__inputs{
    text-align: end;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #1c4f73;
    border-radius: 8px;
    border: none;
    padding-right: 3px;
}
.operacao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    width: 100px;
    height: 100%;
}
.btn_tema{
    border: none;
    background-color: #29a8ff;
    color: #fff;
}
.btn_tema_cinza{
    border: none;
    background-color: #616161;
    color: #fff;
    font-size: 18px;
}
.active{
    box-shadow: 0px 0px 10px 5px #1c4f73;
}
.numNegativo{
    color: red;
    font-weight: normal;
}
option:disabled{
    display: none;
}